H1 : Lighting is preattentive.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import pingouin as pg

In [3]:
df = pd.read_csv("updated_logs.csv")
df

,Unnamed: 0,DesignName,ParticipantID,TrialID,Block1,Block2,DT,OC,visualSearchTime,ErrorCount
0,12,Touchstone2,1,12,2,2,Contrast,low,2237,0
1,13,Touchstone2,1,13,1,3,lighting,high,6862,0
2,14,Touchstone2,1,14,3,3,ContrastLighting,high,5102,1
3,15,Touchstone2,1,15,1,2,lighting,low,2228,0
4,16,Touchstone2,1,16,3,3,ContrastLighting,high,2574,0
...,...,...,...,...,...,...,...,...,...,...
247,292,Touchstone2,6,49,1,1,Contrast,low,1325,0
248,293,Touchstone2,6,50,3,1,lighting,low,1384,0
249,294,Touchstone2,6,51,2,1,ContrastLighting,low,2843,0
250,295,Touchstone2,6,52,3,3,lighting,medium,1721,0
251,296,Touchstone2,6,53,3,3,lighting,medium,2181,0

In [4]:
df_lighting = df[df['DT'] == 'lighting']
df_lighting

,Unnamed: 0,DesignName,ParticipantID,TrialID,Block1,Block2,DT,OC,visualSearchTime,ErrorCount
1,13,Touchstone2,1,13,1,3,lighting,high,6862,0
3,15,Touchstone2,1,15,1,2,lighting,low,2228,0
6,18,Touchstone2,1,18,1,3,lighting,high,3204,0
9,21,Touchstone2,1,21,1,3,lighting,high,2735,0
16,28,Touchstone2,1,28,1,1,lighting,medium,1851,0
...,...,...,...,...,...,...,...,...,...,...
241,286,Touchstone2,6,43,3,3,lighting,medium,2239,0
243,288,Touchstone2,6,45,3,2,lighting,high,1811,0
248,293,Touchstone2,6,50,3,1,lighting,low,1384,0
250,295,Touchstone2,6,52,3,3,lighting,medium,1721,0
251,296,Touchstone2,6,53,3,3,lighting,medium,2181,0

In [5]:
df_Constrast = df[df['DT'] == 'Contrast']
df_Constrast

,Unnamed: 0,DesignName,ParticipantID,TrialID,Block1,Block2,DT,OC,visualSearchTime,ErrorCount
0,12,Touchstone2,1,12,2,2,Contrast,low,2237,0
7,19,Touchstone2,1,19,2,1,Contrast,medium,2130,0
11,23,Touchstone2,1,23,2,3,Contrast,high,4349,0
12,24,Touchstone2,1,24,2,3,Contrast,high,2358,0
14,26,Touchstone2,1,26,2,3,Contrast,high,2462,0
...,...,...,...,...,...,...,...,...,...,...
235,280,Touchstone2,6,37,1,1,Contrast,low,1178,0
237,282,Touchstone2,6,39,1,1,Contrast,low,1886,0
240,285,Touchstone2,6,42,1,2,Contrast,high,2744,0
244,289,Touchstone2,6,46,1,3,Contrast,medium,1237,0
247,292,Touchstone2,6,49,1,1,Contrast,low,1325,0

In [25]:
df_ConstrastLighting = df[df['DT'] == 'ContrastLighting']
df_ConstrastLighting

,Unnamed: 0,DesignName,ParticipantID,TrialID,Block1,Block2,DT,OC,visualSearchTime,ErrorCount
2,14,Touchstone2,1,14,3,3,ContrastLighting,high,5102,1
4,16,Touchstone2,1,16,3,3,ContrastLighting,high,2574,0
5,17,Touchstone2,1,17,3,3,ContrastLighting,high,5047,0
8,20,Touchstone2,1,20,3,1,ContrastLighting,medium,3606,0
10,22,Touchstone2,1,22,3,2,ContrastLighting,low,3235,0
...,...,...,...,...,...,...,...,...,...,...
239,284,Touchstone2,6,41,2,3,ContrastLighting,medium,1870,0
242,287,Touchstone2,6,44,2,1,ContrastLighting,low,2123,0
245,290,Touchstone2,6,47,2,2,ContrastLighting,high,3296,0
246,291,Touchstone2,6,48,2,1,ContrastLighting,low,3269,0
249,294,Touchstone2,6,51,2,1,ContrastLighting,low,2843,0