H1 : Lighting is preattentive.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import pingouin as pg

In [4]:
df = pd.read_csv("logs_participant_5.csv")
df

,DesignName,ParticipantID,TrialID,Block1,Block2,DT,OC,visualSearchTime,ErrorCount
0,Touchstone2,1,0,1,1,lighting,medium,7795,0
1,Touchstone2,1,1,3,2,ContrastLighting,low,4322,0
2,Touchstone2,1,2,1,1,lighting,medium,2781,0
3,Touchstone2,1,3,2,1,Contrast,medium,1895,0
4,Touchstone2,1,4,3,1,ContrastLighting,medium,4122,0
...,...,...,...,...,...,...,...,...,...
319,Touchstone2,6,49,1,1,Contrast,low,1325,0
320,Touchstone2,6,50,3,1,lighting,low,1384,0
321,Touchstone2,6,51,2,1,ContrastLighting,low,2843,0
322,Touchstone2,6,52,3,3,lighting,medium,1721,0
323,Touchstone2,6,53,3,3,lighting,medium,2181,0

In [5]:
df_lighting = df[df['DT'] == 'lighting']
df_lighting

,DesignName,ParticipantID,TrialID,Block1,Block2,DT,OC,visualSearchTime,ErrorCount
0,Touchstone2,1,0,1,1,lighting,medium,7795,0
2,Touchstone2,1,2,1,1,lighting,medium,2781,0
11,Touchstone2,1,11,1,1,lighting,medium,2152,0
13,Touchstone2,1,13,1,3,lighting,high,6862,0
15,Touchstone2,1,15,1,2,lighting,low,2228,0
...,...,...,...,...,...,...,...,...,...
313,Touchstone2,6,43,3,3,lighting,medium,2239,0
315,Touchstone2,6,45,3,2,lighting,high,1811,0
320,Touchstone2,6,50,3,1,lighting,low,1384,0
322,Touchstone2,6,52,3,3,lighting,medium,1721,0
323,Touchstone2,6,53,3,3,lighting,medium,2181,0

In [6]:
df_Constrast = df[df['DT'] == 'Contrast']
df_Constrast

,DesignName,ParticipantID,TrialID,Block1,Block2,DT,OC,visualSearchTime,ErrorCount
3,Touchstone2,1,3,2,1,Contrast,medium,1895,0
5,Touchstone2,1,5,2,3,Contrast,high,3054,0
6,Touchstone2,1,6,2,1,Contrast,medium,2039,0
8,Touchstone2,1,8,2,1,Contrast,medium,1859,0
9,Touchstone2,1,9,2,3,Contrast,high,2611,0
...,...,...,...,...,...,...,...,...,...
307,Touchstone2,6,37,1,1,Contrast,low,1178,0
309,Touchstone2,6,39,1,1,Contrast,low,1886,0
312,Touchstone2,6,42,1,2,Contrast,high,2744,0
316,Touchstone2,6,46,1,3,Contrast,medium,1237,0
319,Touchstone2,6,49,1,1,Contrast,low,1325,0

In [7]:
df_ConstrastLighting = df[df['DT'] == 'ContrastLighting']
df_ConstrastLighting

,DesignName,ParticipantID,TrialID,Block1,Block2,DT,OC,visualSearchTime,ErrorCount
1,Touchstone2,1,1,3,2,ContrastLighting,low,4322,0
4,Touchstone2,1,4,3,1,ContrastLighting,medium,4122,0
7,Touchstone2,1,7,3,3,ContrastLighting,high,2307,0
14,Touchstone2,1,14,3,3,ContrastLighting,high,5102,1
16,Touchstone2,1,16,3,3,ContrastLighting,high,2574,0
...,...,...,...,...,...,...,...,...,...
311,Touchstone2,6,41,2,3,ContrastLighting,medium,1870,0
314,Touchstone2,6,44,2,1,ContrastLighting,low,2123,0
317,Touchstone2,6,47,2,2,ContrastLighting,high,3296,0
318,Touchstone2,6,48,2,1,ContrastLighting,low,3269,0
321,Touchstone2,6,51,2,1,ContrastLighting,low,2843,0